<nav class="navbar">
  <div class="nav-brand">MiChael Tran -  Nx - Micro frontend</div>
  <ul class="nav-menu">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
    <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
  </ul>
  <div class="nav-actions">
    <button class="theme-toggle" (click)="toggleTheme()">
      Mode: {{ (currentTheme | async) }}
    </button>
  </div>
</nav>

<div class="container">
  <div class="user-section" *ngIf="user$ | async as user">
    <div class="user-welcome">
      <span>Welcome, {{ user?.name }}! this is Angular App Shell</span>
    </div>
  </div>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
